<footer class="app-footer">
  <div class="app-footer__inner">
    <div class="app-footer__copy">
      © 2024 Institutional Editorial Library System. All rights reserved.
    </div>

    <div class="app-footer__links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Accessibility</a>
      <a href="#">Contact Support</a>
    </div>
  </div>
</footer>
