<header class="student-topbar">
  <div class="student-topbar__nav">
    <a href="/catalogo" class="student-topbar__link is-active">Catálogo</a>
    <a href="#" class="student-topbar__link">Reservas</a>
    <a href="#" class="student-topbar__link">Historial</a>
  </div>

  <div class="student-topbar__user">
    <button type="button" class="student-topbar__icon-button">
      <span class="material-symbols-outlined">notifications</span>
    </button>

    <div class="student-topbar__profile">
      <span data-session-name>Juan Pérez</span>
      <img
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuD6UnEfZtaj3CxhAstx0qg4IyNBRQkGrqiq747E2WnPgMJnQ5XsC_9EqRqHX6I7JjVEwcyYcHi39eVObN0RBN9qc_pikoEewEd10_LqBNryUz9hAEPLtx0JCE4fHsZx2tJu8jpEDRMaKz8WvWivsi_7EmXNJBa3X9J-7YQPc4rb8bsC46neYnD3-LD_Ms9T9ww2fmDLaMRRkMG3fksUAJQZ617A8t1aOuHLlOqIKmS6C7cTy737uBCWSjO5jJaLoyNi32Sefcw4Wp8"
        alt="Perfil del estudiante"
      />
    </div>
  </div>
</header>
