---
import MainLayout from "../layouts/MainLayout.astro";
import LandingNavbar from "../components/landing/LandingNavbar.astro";
import HeroSection from "../components/landing/HeroSection.astro";
import QuickStats from "../components/landing/QuickStats.astro";
import NewAcquisitions from "../components/landing/NewAcquisitions.astro";
import ServicesSection from "../components/landing/ServicesSection.astro";
import PublicFooter from "../components/landing/PublicFooter.astro";
import "../styles/landing.css";
---

<MainLayout title="Scholar's Archive | University XYZ Library">
  <div class="landing-page">
    <LandingNavbar />

    <main>
      <HeroSection />
      <QuickStats />
      <NewAcquisitions />
      <ServicesSection />
    </main>

    <PublicFooter />
  </div>
</MainLayout>